body {
    display: flex;
    flex-direction: column;
}

h4 {
    font-size: 24px;
    color: #f9faf8;
}

.dark-bg {
    background: #1f2937;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li > a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    margin-left: 18px;
}

.info-section {
    text-align: center;
}

.info-title {
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937
}

.info-layout {
    display: flex;
    justify-content: center;
}

.info-card {
    max-width: 200px;
}

.info-card > img {
  width: 100px;
  height: 100px;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    text-decoration: none;
    padding: 10px;
}